<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/all.min.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/demo.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <!-- Star Header -->
    <div class="wrapper">
        <div class="side_bar">
            <div class="side_bar_top">
                <div class="profile_pic">
                    <img src="../static/styles/images/logo.jpeg" alt="profile">
                </div>
                <div class="profile_info">
                    <h3>Caregivers</h3>
                    <p>amgad_abood@gmail.com</p>
                </div>
            </div>
            <div class="side_bar_bottom">
                <ul>
                    <li method="['post', 'get']" action="{{ url_for('index') }}">
                        <span class="top_curve"></span>
                        <a href="{{ url_for('index') }}">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">HOME</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fas fa-search"></i></span>
                            <span class="item">SEARCH</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li method="['post', 'get']" action="{{ url_for('survey') }}">
                        <span class="top_curve"></span>
                        <a href="{{ url_for('survey') }}">
                            <span class="icon"><i class="fas fa-poll-h"></i></span>
                            <span class="item">SURVEY</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li method="['post', 'get']" action="{{ url_for('photo') }}">
                        <span class="top_curve"></span>
                        <a href="{{ url_for('photo') }}">
                            <span class="icon"><i class="fas fa-camera-retro"></i></span>
                            <span class="item">PHOTO</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li class="active">
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fas fa-video"></i></span>
                            <span class="item">VIDEO</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="item">SETTINGS</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li method="['post', 'get']" action="{{ url_for('logo') }}">
                        <span class="top_curve"></span>
                        <a href="{{ url_for('logo') }}">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="item">LOG OUT</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End header -->
        <!-- Star Demo -->
        <section class="bg-dark back ml-5">
            <div class="container ">
                <div class="row " >
                    <div class="col-sm-12 col-md-6 mx-auto">
                        <h1 class="text-white " style="margin-top: 50%; margin-left: 70px; "  >
                            Capture a photo from webcam using JQuery and Upload that photo to folder using PHP 
                        </h1>
                        <button class="btn btn-warning text-white" id="accesscamera" data-toggle="modal" data-target="#photoModal" style="margin-top:10px; margin-left: 190px; ">
                            Capture Photo
                        </button>
                    </div>
                </div>
            </div>
        </section>
    
        <!--Modal-->
        <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:100px; margin-left: 150px; ">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Capture Photo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"  >
                        <div>
                            <div id="my_camera" class="d-block mx-auto rounded overflow-hidden"></div>
                        </div>
                        <div id="results" class="d-none"></div>
                        <form method="post" id="photoForm">
                            <input type="hidden" id="photoStore" name="photoStore" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning mx-auto text-white" id="takephoto">Capture Photo</button>
                        <button type="button" class="btn btn-warning mx-auto text-white d-none" id="retakephoto">Retake</button>
                        <button type="submit" class="btn btn-warning mx-auto text-white d-none" id="uploadphoto" form="photoForm">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<h1>Display Webcam Stream</h1>
        <div id="container">
            <video autoplay="true" id="videoElement"></video>
        </div> -->

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    <script src="{{ url_for('static',filename='plugin/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static',filename='plugin/webcamjs/webcam.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/demo.js') }}"></script>
</body>
</html>